.App {
  text-align: center;
  margin:0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container{
  height: 370px;
  width: 300px;
  background-color: rgb(22, 236, 236);
  margin: 30px;
  padding-top: 5px;
}

.bin-top{
  position: relative;
  background-color: rgb(12, 235, 12);
  width: 220px;
  height: 40px;
  border-radius: 15px;
  z-index: 6;
}

.bin-body{
  width: 145px;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 200px solid darkgreen;
}

.full-status-1{
    position: relative;
    bottom: 50px;
    width: 100px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 40px solid rgb(100, 7, 0);
}

.full-status-2{
  position: relative;
  bottom: 137px;
    width: 110px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 40px solid rgb(197, 157, 27);
}

.full-status-3{
  position: relative;
  bottom: 225px;
  width: 120px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 40px solid rgb(90, 180, 29);
}

.full-status-4{
  position: relative;
  bottom: 312px;
  width: 130px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 40px solid rgb(93, 253, 0);
}

.mybtn{
  position: relative;
  bottom: 100px;
}